html {
  font-size: 16px;
}

:root {
  --branco-zayon: #ffffff;
  --dourado-zayon: #8d6517;
  --preto-zayon: #1c1c1c;
  --cinza-claro: #f4f4f4;
  --cinza-medio: #ccc;

  /* Novas variáveis semânticas */
  --cor-fundo-principal: var(--branco-zayon);
  --cor-texto-principal: var(--preto-zayon);
  --cor-fundo-footer: var(--preto-zayon);
  --cor-texto-footer: var(--branco-zayon);
}

body.high-contrast {
  --branco-zayon: #000000;
  --preto-zayon: #ffffff;
  --dourado-zayon: #ffff00;
  --cinza-claro: #1a1a1a;
  --cinza-medio: #333333;

  /* Regras de Alto Contraste */
  --cor-fundo-principal: var(--branco-zayon);
  --cor-texto-principal: var(--preto-zayon);
  
  /* ESTA É A CORREÇÃO MÁGICA */
  --cor-fundo-footer: #333333;
  --cor-texto-footer: #ffffff;

  background-color: var(--cor-fundo-principal) !important;
  color: var(--cor-texto-principal) !important;
  font-weight: bold !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--cor-fundo-principal);
  color: var(--cor-texto-principal);
  font-weight: normal;
}

* {
  box-sizing: border-box;
}